.right-content {
    margin-left: -30px;
}
.right-content-section {
    background-color: #F7F7F7;
    height: 39vw;
    padding: 25px 16px;
}

.right-main-heading {

    margin-bottom: 18px;
    
    h5 {
        text-align: left;
        font: normal normal 300 28px/24px Rubik;
        letter-spacing: 1.4px;
        color: #43425D;
        opacity: 1;
    }
}

.search-section {
    width: 35%;
    .searchIcon {
        width: 100%;
    }
    .formGroup {
        position: relative;
        .formControlFeedback {
          position: absolute;
          pointer-events: none;
          color: #aaa;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        .formControl {
          padding-left: 40px;
        }
      }
}

.upload-button {
    float: right;
}