.sideMenu-bg {
    background-color: #171C8F;
    padding: 50% 0;
    width: 70%;
 
    @media screen and (max-width: 992px) {
        width: 100%;
        padding: 10px;
    }
}
 
.closeMenuButton {
    text-align: right;
    margin-bottom: 18px;
}
 
.side-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-left: 3px solid transparent;
    transition: background-color 0.3s, border-left-color 0.3s;
    color: #fff;
    margin-bottom: 28px;
 
    &:hover {
        .side-menu-icon-active {
            display: block;
        }
        .side-menu-icon {
            display: none;
        }
 
    }
    .side-menu-icon-active {
        display: none;
    }
 
    .side-menu-text {
        color: #a0afc4;
        font: normal normal normal 20px Roboto;
        display: none;
 
        @media screen and (max-width: 768px) {
            display: inline;
            margin-left: 10px;
        }
    }
}
 
.side-menu-item.active {
    border-left-color: #FF9800;

    .side-menu-text {
        color: #fff;
    }
}
 
.popoverCustom {
    --bs-popover-bg: #92005a;
    background-color: var(--bs-popover-bg);
    padding: 0;
    height: 40px;
    line-height: 10px;
    display: block;
    
    @media screen and (max-width:768px) {
        display: none;
    }
    
    .popover-content {
        color: #ffffff !important;
    }
 
    .popover-arrow {
        &::before {
            border-right-color: var(--bs-popover-bg) !important;
        }
 
        &::after {
            border-right-color: var(--bs-popover-bg) !important;
        }
    }
}