.list {
    // border-top: 2px solid #DBDBDB;
    // border-bottom: 2px solid #DBDBDB;
    border: 1px solid #DBDBDB;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

.table-section {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  opacity: 1;
  overflow: auto;

  table {
      margin-bottom: 0;
      border: none;
  }

  .paginationCustom {
      margin-top: 16px;
  }

  .custom-data-table {
    overflow-y: auto;
    max-height: 290px;
  }
}

.pagination-section {
  display: flex;
  float: right;
  margin-top: 16px;
}

.moduleList {
  thead {
    tr {
      th {
      width: 100%;
    }
  }
  }
  tbody {
    tr {
    td {
      width: 100%;
    }
  }
  }
}
.tableCustom {
    width: 100%;
    
    th, td {
      padding: 10px;
      text-align: left;
      white-space: nowrap;
      padding-top: 12px;
      padding-bottom: 12px;
      vertical-align: middle;
      opacity: 1;
      border-bottom: 1px solid #EBEBEB;
      text-align: left;
      font: normal normal bold 16px/24px Roboto;
      letter-spacing: 1.6px;
      text-transform: capitalize;
      opacity: 1;
    }
  
    th {
      background-color: #ffffff;
      color: #171C8F;
      border-radius: 10px;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  
    td {
      background-color: #ffffff;
      color: #3e3e3e;
      font-weight: 300;
      border-radius: 10px;
      &:first-child {
        color: #171C8F;
      }
      img {
        width: 22px;
      }
    }

    td.NoDocsfoundtext {
      color: #3e3e3e;
    }
  
  
    tbody {
      tr {
        td {
          &:nth-child(2),
          &:nth-child(1) {
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  
    // th:nth-child(1), td:nth-child(1) {
    //   width: 16%;
    // }
  
    // th:nth-child(2), td:nth-child(2) {
    //   width: 16%;
    // }
  

  }

.pageSizeRecords {
    color: #747474;
    opacity: 1;
    font: normal normal 300 0.875rem/1rem Roboto;
    line-height: 34px;

    @media screen and (max-width:576px) {
      margin: 16px 0;
      text-align: center;
      width: 100%;
      display: block;
    }
}

.paginationCustom {
    display: flex;
    justify-content: center;
    float: right;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      float: left;
      margin: auto;
      width: 100%;
    }

    nav {
      @media screen and (max-width: 576px) {
        margin: 0 auto;
      }
    }

    .pagination {
        list-style-type: none;
        display: flex;
        float: right;

        @media screen and (max-width: 576px) {
          padding: 0;
        }
 
        .paginationText {
            font: normal normal 500 0.875rem/1rem Roboto;
            color: #323232;
        }
    }
 
    .paginationOption {
        width: 90px;
        height: 70%;
        padding-top: 8px;
        padding-bottom: 8px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #323232;
        border-radius: 4px;
        opacity: 0.5;
        color: #323232;
        font: normal normal 500 0.875rem/1rem Roboto;
        text-align: center;
        margin-left: 4px;

        @media screen and (max-width: 576px) {
          margin: auto;
          margin-bottom: 12px;
        }
    }
 
    li {
        float: left;
        padding: 7px 11px;
        margin: 0 4px;
        border: 1px solid #323232;
        border-radius: 4px;
        background: #FFFFFF;
        color: #323232;
        font: 500 1rem Roboto;
        text-decoration: none;
        letter-spacing: 0;
        opacity: 0.5;
        transition: background-color 0.3s;
    }
 
    .page-item.active {
        background: #171C8F 0% 0% no-repeat padding-box;
        color: white;
        border: 1px solid #CBC9C9;
        opacity: 1;
        .paginationText {
            font: normal normal 500 0.875rem/1rem Roboto;
            color: #fff;
        }
    }
 
    .page-item.disabled {
        pointer-events: none;
        background: #ccc;
        border: 1px solid #ccc;
        .paginationText {
            font: normal normal 500 0.875rem/1rem Roboto;
            color: #323232;
        }
    }

}

.search-input {
    margin-bottom: 1rem;
}

.create-button {
    margin-bottom: 1rem;
    float: right;
}

