.search-section {
    width: 35%;
    .searchIcon {
        width: 100%;
    }
    .formGroup {
        position: relative;
        .formControlFeedback {
          position: absolute;
          pointer-events: none;
          color: #aaa;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        .formControl {
          padding-left: 40px;
        }
      }
}

.upload-button {
    float: right;
}

.table-section {
    thead {
        tr {
            th {
                text-align: left;
                font: normal normal bold 16px/30px Roboto;
                letter-spacing: 1.6px;
                color: #171C8F;
                text-transform: capitalize;
                opacity: 1;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: left;
                font: normal normal normal 15px/30px Roboto;
                letter-spacing: 1.25px;
                color: #3E3E3E;
                opacity: 1;
                &:first-child {
                    color: #171C8F;
                }
            }
        }
    }
}