.cancelBtn {
    width: 8.125rem;
    height: 3.125rem;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin-right: 1.25rem;
    font: normal normal bold 0.9375rem/1.0625rem 'Ubuntu', sans-serif;
    color: #4D4D4D;
}

.addBtn {
    background-color: #E61B1B;
    width: 8.125rem;
    height: 3.125rem;
    border-radius: 4px;
    font: normal normal bold 0.9375rem/1.0625rem 'Ubuntu', sans-serif;
    &:hover {
        background-color: #E61B1B;
    }
}

.footer {
    border: none !important;
}