.right-content {
    margin-left: -30px;
}

.right-content-section {
    background-color: #F7F7F7;
    height: 39vw;
    padding: 25px 16px;
}

.right-main-heading {

    margin-bottom: 30px;

    h5 {
        text-align: left;
        font: normal normal 300 28px/24px Roboto;
        letter-spacing: 1.4px;
        color: #43425D;
        opacity: 1;
    }
}

.search-section {
    width: 35%;

    .searchIcon {
        width: 100%;
    }

    .formGroup {
        position: relative;

        .formControlFeedback {
            position: absolute;
            pointer-events: none;
            color: #aaa;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .formControl {
            padding-left: 40px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 0.800000011920929px solid #CBC9C9;
            border-radius: 5px;
            opacity: 1;
        }
    }
}

.upload-button {
    float: right;
}

.table-section {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    opacity: 1;

    table {
        margin-bottom: 0;
        border: none;
    }

    .paginationCustom {
        margin-top: 16px;
    }
}

.modal-dialog {

    .modal-heading {
        font: normal normal 500 22px / 26px Roboto;
        letter-spacing: 1.83px;
        color: #3C3C3C;
        text-transform: capitalize;
        opacity: 1;
    }

    .modal-body {
        label {
            text-align: left;
            font: normal normal 500 15px/26px Roboto;
            letter-spacing: 1.25px;
            color: #3C3C3C;
            text-transform: capitalize;
            opacity: 1;
        }

        input {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 0.800000011920929px solid #CBC9C9;
            border-radius: 5px;
            opacity: 1;
        }
    }
}