 
.hrBorderColor {
  border-color: #ccc;
}
 
.dateSection {
  font: normal normal normal 14px/21px Roboto;
  letter-spacing: 0px;
  color: #32325D;
  opacity: 0.4;
}
 
 
.userIcon {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 22px;
  text-align: center;
}
 
.message {
  position: relative;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
 
  &.question {
    background: #171C8F 0% 0% no-repeat padding-box;
    border-radius: 12px 0px 12px 12px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    align-self: flex-end;

    div {
      font: normal normal normal 16px/21px Roboto;
      letter-spacing: 0px;
      color: #FFFFFF;
    }
  }
 
  &.answer {
    background: #FCFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #32325D12;
    border-radius: 0px 12px 12px 12px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 15px/21px Roboto;
    letter-spacing: 0px;
    color: #32325D;
    opacity: 1;
    align-self: flex-start;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    p {
      font: normal normal normal 15px/21px Roboto;
      letter-spacing: 0px;
      color: #32325D;
      margin-bottom: 0;
    }
  }
}

.message table {
  font-family: Roboto;
  border-collapse: collapse;
  width: 100%;
}

.message table td, .message table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.message table tr:nth-child(even){background-color: #f2f2f2;}

.message table tr:hover {background-color: #ddd;}

.message table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fff;
  color: #222;
}

.pdf-btn {
  span {
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #171C8F;
  }
}

.chatInput {
  margin-top: 20px;
  position: relative;
 
  .chat-textbox {
      resize: none;
      padding-right: 60px;
      text-align: left;
      font: normal normal normal 15px/20px Roboto;
      letter-spacing: 0px;
      color: #838EAB;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000012;
      border: 1px solid #E6E5E5;
      border-radius: 4px;
      opacity: 1;
      height: 40px;
 
      &::placeholder {
          text-align: left;
          font: normal normal normal 15px/20px Roboto;
          letter-spacing: 0px;
          color: #838EAB;
          opacity: 1;
      }
  }
 
  .chatInputButton {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 3px;
  }
}
 
.text-muted {
  text-align: left;
  font: normal normal normal 14px/21px Roboto;
  letter-spacing: 0px;
  color: #32325D;
  opacity: 0.4;
  margin-top: 4px;
}
 
.infiniteLoaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  overflow-x: hidden;
  width: 100%;
}
 
.listItem {
  display: flex;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  width: 100%;
}
 
.listItem:nth-child(even) {
  background-color: #f1f1f1;
}
.loading {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
}