.right-content {
    margin-left: -30px;
}

.right-content-section {
    background-color: #F7F7F7;
    height: 38vw;
    padding: 25px 16px;
}

.right-main-heading {

    margin-bottom: 18px;

    h5 {
        text-align: left;
        font: normal normal 300 28px/24px Roboto;
        letter-spacing: 1.4px;
        color: #43425D;
        opacity: 1;

        @media screen and (max-width:576px) {
            font-size: 24px;
        }
    }
}

.vendor-chat-window-bg {
    width: 50%;
    margin: auto;
}

.modal-heading {
    font: normal normal 500 20px / 26px Roboto;
    color: #3C3C3C;
    opacity: 1;
}
 
.newChatContent {
    font: normal normal 1rem Roboto;
    color: #5E6061;
}

.welcomeMsg {
    font: normal normal 14px/20px Roboto;
    color: #32325D;
    margin-bottom: 0;

    p {
        margin-bottom: 0;
    }
}
 
.disclaimer-message {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1.08px;
    color: #5E6061;
    margin-bottom: 0;
    font: normal normal 13px Roboto;
}

.chatWindow {
    height: 70vh;
    overflow-y: auto;
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .chatWindow {
        height: calc(70vh - 50px);
    }
}
 
@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .chatWindow {
        height: calc(70vh - 100px);
    }
}
 
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
    .chatWindow {
        height: calc(70vh - 150px);
    }
}
 
@media only screen and (min-width: 2560px) {
    .chatWindow {
        height: calc(70vh - 200px);
    }
}