.right-content {
    margin-left: -30px;
 
    @media screen and (max-width:768px) {
        margin-left: 0;
    }
}

.sideMenuSection {
    position: fixed;
    top: 0;
    left: 0;
}
.rightSection {
    position: absolute;
    left:8%;
    top: 0;
}

