
.form-check-input:checked { 
  background-color: #171C8F !important;
  border-color: #171C8F !important;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;

  img {
    width: 25%;
  }
}

.vertical-divider {
  position: relative;
  width: 2px;
  height: 20vw;
  background-color: #ccc;
  top: 30px;
}

.divider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 0 10px;
  color: #999;
  font-weight: bold;
}