@import './assets/styles/_fonts.scss';

body {
    background-color: #F7F7F7;
}

.btn-primary {
    background: #171C8F 0% 0% no-repeat padding-box;
    border: 1px solid #1A4E8A;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    font: normal normal bold 15px/26px Roboto;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    text-transform: capitalize;
}
 
.btn-primary:hover {
    background: #171C8F 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.btn-primary:disabled {
    border: none;
}

.btn-outline-primary {
    border: 1px solid #171C8F;
    color: #171C8F;
    border-radius: 5px;
    text-align: left;
    font: normal normal bold 15px/26px Roboto;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    opacity: 1;
}
 
.btn-outline-primary:hover {
    border: 1px solid #171C8F;
    border-radius: 5px;
    text-align: left;
    font: normal normal bold 15px/26px Roboto;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    opacity: 1;
    color: #171C8F;
    background-color: #FFFFFF;
}
 
.btn-secondary {
    background: #fff 0% 0% no-repeat padding-box;
    border: none;
    opacity: 1;
    text-align: left;
    font: normal normal bold 15px/26px Roboto;
    letter-spacing: 1.25px;
    color: #171C8F;
    text-transform: capitalize;
}

.btn-secondary:hover {
    background: #fff 0% 0% no-repeat padding-box;
    color: #171C8F;
}

.cursor-pointer {
    cursor: pointer;
}
.form-check-input:checked {
    background-color: #fff;
    border-color: #171C8F;
}
.form-switch .form-check-input:checked {
    background-position: right center;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23171C8F'/%3e%3c/svg%3e");
}